* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    font-family: 'Open Sans', sans-serif;
    animation: fadeIn 0.8s;
}

.quote-container {
    background-color: #f8f8f8;
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.quote-div-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    animation: fadeIn 0.2s infinite;
}

.quote-div > h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    /* color: red; */
    animation: fadeIn 1s;
}

.quote-div > h1 > span {
    font-size: 1em;
    margin-right: 25px;
    animation: fadeIn 1s;
}

.quote-div > h3 {
    text-align: right;
    /* color: red; */
    font-size: 1.1rem;
    font-weight: 400;
    margin: 25px 25px 0 0;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.controls-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-top: 20px;
}

.social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-container li {
    display: block;
    margin: 0 10px;
    /* background-color: red; */
    width: 40px;
    height: 40px;
    animation: fadeIn 1.5s;
    border-radius: 5px;
}

.social-container li:hover {
    opacity: 0.8;
}

.social-link {
    font-size: 1.5rem;
    color: #f8f8f8;
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link:hover {
    cursor: pointer;
}

.controls-div > button {
    /* background-color: red; */
    border: none;
    box-shadow: none;
    color: #f8f8f8;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    animation: fadeIn 1.5s;
}

.controls-div > button:hover {
    cursor: pointer;
    opacity: 0.8;
}
